{% extends 'index_landlord.html' %} 

{% block breadcrumbs %} 
Главная: наймодатель -> Договоры -> Заключение нового договора найма
{% endblock %}

{% block main_content %} 
	<!-- мгновенные сообщения -->
	{% for cat, msg in get_flashed_messages(True) %}
	<div class='flash {{cat}}'>{{msg}}</div>
	{% endfor %}

<!-- Метки выполнения js -->
<input type="hidden" id='tab_page'/>

<div class='details_area_wrapper'>
	<form method='POST' action="{{url_for('add_rental_agreement')}}">
		<div class='add_ra_form_wrapper'>
			<input type="hidden" value="{{ landlord_id }}" name='landlord_id'/>
			<div class='add_ra_form_header'><div>{{the_title}}</div></div>

			<h4>Дата и место заключения договора</h4>
			<div class='add_ra_form'>
				<div class="add_ra_text">Город</div> 
				<div><input type='text'  class='item_input' name = "city"></div>
				<div class="add_ra_text">Дата заключения</div> 
				<div><input type='DATE'  class='item_input' name = "date_of_conclusion_agreement"></div>
			</div>


			<h4>Объект аренды</h4>
			<div class='add_ra_form'>
				<div class="add_ra_text">Объект аренды</div> 
				<div>
						<select name="rental_object_id" required>
							<option disabled selected value>--выберите объект аренды--</option>
							{% for rental_object in rental_objects %}
  								<option value="{{ rental_object.id }}">{{ rental_object.name }}</option>
  							{% endfor %}
						</select>
				</div>
			</div>

			<h4>Участники договора</h4>
			<div class='add_ra_form'>
				<div class="add_ra_text">Наймодатель</div> 
				<div>{{ landlord }}</div>	

				<div class="add_ra_text">Наниматель</div> 
				<div>
					<select  name="tenant_id" required>
						<option disabled selected value>--выберите нанимателя--</option>
						{% for tenant in tenants %}
								<option value="{{ tenant.tenant_id }}">{{ tenant.name }}</option>
							{% endfor %}
					</select>
				</div>	
			</div>

<!-- 			<h4>Агент</h4>
			<div class='add_ra_comment'>Определение агента участвующего в сделке,<br>
			производится до заключения договора в разделе: Объекты аренды > Агент</div> -->

			<h4>Граждане, которые будут проживать совместо с нанимателем</h4>
			<div class='other_tenants'>
				<table>
					<tr><th>ФИО</th><th>Телефон</th></tr>
					<tr>
						<td><input type='TEXT'  class='input_in_table' autocomplete="off" name = "name1"  value=''></td>
						<td><input type='TEXT'  class='input_in_table' autocomplete="off" name = "phone1" value=''></td>
					</tr>
					<tr>
						<td><input type='TEXT'  class='input_in_table' autocomplete="off" name = "name2" value=''></td>
						<td><input type='TEXT'  class='input_in_table' autocomplete="off" name = "phone2" value=''></td>
					</tr>
					<tr>
						<td><input type='TEXT'  class='input_in_table' autocomplete="off" name = "name3" value=''></td>
						<td><input type='TEXT'  class='input_in_table' autocomplete="off" name = "phone3" value=''></td>
					</tr>
				</table>
			</div>


			<h4>Условия договора</h4>
			<div class='add_ra_form'>
				<div class="add_ra_text">Начало действия</div> 
				<div><input type='DATE'  class='item_input' name = "start_of_term"></div>	

				<div class="add_ra_text">Окончание действия</div> 
				<div><input type='DATE'  class='item_input' name = "end_of_term"></div>	

				<div class="add_ra_text">Плата за найм, руб./мес.</div> 
				<div><input type='TEXT' autocomplete="off"  class='item_input' name = "rental_rate"></div>	

				<div class="add_ra_text">Предоплата, %</div> 
				<div><input type='TEXT' autocomplete="off"  class='item_input' name = "prepayment" value="100"></div>	

				<div class="add_ra_text">Страховая залоговая сумма, руб.</div> 
				<div><input type='TEXT' autocomplete="off"  class='item_input' name = "deposit" ></div>	

				<div class="add_ra_text">Неустойка за день просрочки, %</div> 
				<div><input type='TEXT' autocomplete="off"  class='item_input' name = "late_fee" ></div>	

				<div class="add_ra_text">День оплаты</div> 
				<div><input type='TEXT' autocomplete="off"  class='item_input' name = "payment_day" ></div>	

				<div class="add_ra_text">Стоимость клининга</div> 
				<div><input type='TEXT' autocomplete="off" class='item_input' name = "cleaning_cost" ></div>
			</div>
<!-- 
			<h4>Расходы на содержание</h4>
			<div class='add_ra_comment'>Редактирование Расходов на содержание,<br>
			для добавляемого объекта аренды, производится <br>
			до заключения договора в разделе: Объекты аренды > Расходы</div>

			<h4>Опись имущества</h4>
			<div class='add_ra_comment'>Редактирование Описи имущества,<br>
			для добавляемого объекта аренды, производится<br> 
			до заключения договора в разделе: Объекты аренды > Вещи</div> -->

			<h4>Акт сдачи-приемки</h4>
			<div class='add_ra_form'>
				<div class="add_ra_text">Дата подписания Акта</div> 
				<div><input type='DATE'  class='item_input' name = "date_of_conclusion_move_in"></div>
				
				<div class="add_ra_text">Кол-во комплектов ключей</div> 
				<div><input type='NUMBER' autocomplete="off" class='item_input' name ="number_of_sets_of_keys"></div>	

				<div class="add_ra_text">Количество ключей в комплекте</div> 
				<div><input type='NUMBER' autocomplete="off" class='item_input' name = "number_of_keys_in_set"></div>		
			</div>

			<div class="add_ra_notice">Замечания (жилое помещение)</div> 
			<div class="add_ra_notice"><textarea rows="3"  name="rental_object_comment"></textarea></div>	

			<div class="add_ra_notice padd">Замечания (имущество в жп)</div> 
			<div class="add_ra_notice"><textarea rows="3" name="things_comment"></textarea></div>	

			<div class='add_ra_form'>
				<div></div> 
				<div class='item_button'><input value='Заключить договор' type='SUBMIT'></div>
			</div>

		</div>
	</form>	
</div>
{% endblock %}