
<div class='add_user_form_wrapper'>
	<div class='add_user_form_header'><div>{{the_title}}</div></div>
		<div class='add_user_form'>
			<div>Имя</div> 
			<div><input class='add_user_form_input' name='name' type='TEXT' autocomplete="off" required></div>

			<div>Телефон</div> 
			<div><input class='add_user_form_input' name='phone' type='TEXT' autocomplete="off" required></div>

			<div>e-mail</div> 
			<div><input name='email' type='TEXT' autocomplete="off" required></div>
		</div>

		<div class='add_user_form'>
			<div>login</div> 
			<div><input name='login' type='TEXT' autocomplete="off" required></div>

			<div>password</div> 
			<div><input name='password' type='password' autocomplete="off" required></div>
		</div>

		<div class='add_user_form'>
			<div></div> 
			<div class='add_user_form_button'><input value='Добавить' type='SUBMIT'></div>
		</div>
</div>