{% extends 'index_landlord.html' %} <!-- Директива extends задает разметку базового шаблона -->

{% block breadcrumbs %} 
Главная: наймодатель -> {{the_title}}
{% endblock %}

{% block main_content %} 
	<!-- мгновенные сообщения -->
	{% for cat, msg in get_flashed_messages(True) %}
	<div class='flash {{cat}}'>{{msg}}</div>
	{% endfor %}


	<div class='main_content_header'><h2>{{the_title}}</h2></div>

	<div class='any_users'>
		<div class='add_user'>
			<button class='add_button' onclick="document.location='{{ add_agent_url }}'">+ add agent</button>
		</div>
		<table>
			<tr><th>Имя</th><th>Телефон</th><th>Email</th></tr>
			{% for agent in agents %}
				<tr>					
					<td>{{agent.name}}</td>
					<td>{{agent.phone}}</td>
					<td>{{agent.email}}</td>
					<td>
						<button class='add_button' onclick="document.location='/edit_agent/{{agent.user_id}}'">...</button>
					</td>
					<td>
						<form method='POST' action='/delete_user'>
							<input type="hidden" value="{{agent.user_id}}" name='user_id'/>
							<input type="hidden" value="{{agent.user_type}}" name='user_type'/>
							<button class='delete_button'>x</button>
						</form>
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}
