{% extends 'index_landlord.html' %} <!-- Директива extends задает разметку базового шаблона -->

{% block breadcrumbs %} 
Главная: наймодатель -> {{the_title}}
{% endblock %}

{% block main_content %} 
	<div class='ra_wrap'>
		
		<button onclick="document.location='{{url_for('add_rental_agreement')}}'">Заключить новый договор</button>

		<table class='ra_tbl'>
			<tr>
				<th class='col1'></th>  <!-- Индикатор окончания -->
				<th class='col2'>Номер договора</th>
				<th class='col3'>Объект аренды</th>
				<th class='col4'>Наниматель</th>
				<th class='col5'>Агент</th>
				<th class='col6'>Статус</th>
				<th class='col7'>Дней до окончания</th>
				<th class='col8'></th > <!-- кнопка Документы -->
				<th class='col9'></th > <!-- кнопка Завершить -->
				<th class='col10'></th > <!-- кнопка Расторгнуть -->
				<th class='col11'></th > <!-- кнопка Продлить -->
				<th class='col12'></th></tr> <!-- кнопка Удалить -->
			{% for rental_agreement in rental_agreements %}
				<tr>					
						
					{% if rental_agreement.conditions.days_left  > rental_agreement.conditions.days_left_for_notification  %}
						<td class='col1'><div class='circle green'> </div></td>
					{% elif rental_agreement.conditions.days_left  == 0 %}
						<td class='col1'><div class='circle red'> </div></td>
					{% else %}
						<td class='col1'><div class='circle yellow'> </div></td>
					{% endif %}

					<td class='col2'>{{ rental_agreement.agreement_number }}</td>
					<td class='col3'>{{ rental_agreement.rental_object.address }}</td>
					<td class='col4'>{{ rental_agreement.tenant.last_name }}
									 {{ rental_agreement.tenant.first_name }}
					</td>
					<td class='col5'>{{ rental_agreement.agent.last_name }}
									 {{ rental_agreement.agent.first_name }}
					</td>
					<td class='col6'>{{ rental_agreement.status }}</td>
					<td class='col7'> {{ rental_agreement.conditions.days_left }}</td>
					<td class='col8'>
						<button onclick="document.location='{{url_for('rental_agreement_documents', rental_agreement_id=rental_agreement.id)}}'">Документы</button>
					</td>
					<td class='col9'>
						<button>Завершить</button>
					</td>
					<td class='col10'><button>Расторгнуть</button></td>
					<td class='col11'><button>Продлить</button></td>
					<td class='col12'>
						<form method='POST' action="{{url_for('delete_rental_agreement')}}">
							<input type="hidden" value="{{rental_agreement.id}}" name='rental_agreement_id'/>
							<button class='delete_button'>x</button>
						</form>
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}
