{% extends 'index_landlord.html' %} <!-- Директива extends задает разметку базового шаблона -->

{% block breadcrumbs %} 
Главная: наймодатель -> {{the_title}}
{% endblock %}

{% block main_content %} 
	<!-- мгновенные сообщения -->
	{% for cat, msg in get_flashed_messages(True) %}
	<div class='flash {{cat}}'>{{msg}}</div>
	{% endfor %}

	<div class='main_content_header'><h2>{{the_title}}</h2></div>

	<div class='ra_wrap'>
		<div class="ra_top_menu">
			<button onclick="document.location='{{url_for('add_rental_agreement')}}'">Заключить новый договор</button>
			<button onclick="document.location='{{url_for('landlord_rental_agreements')}}'">Текущие договоры</button>
		</div>
	

		<table class='ra_tbl'>
			<tr>
				<th>Номер договора</th>
				<th>Дата и время создания</th>
				<th>Объект аренды</th>
				<th>Наниматель</th>
<!-- 				<th>Агент</th> -->
				<th>Статус</th>
				<th colspan="2">Дней до окончания</th>
				<th></th > <!-- кнопка Документы -->
				<th></th > <!-- кнопка Завершить -->
				<th></th > <!-- кнопка Расторгнуть -->
				<th></th> <!-- кнопка Удалить -->
			</tr> 
			{% for rental_agreement in rental_agreements %}
			<tr>					

				<td>{{ rental_agreement.agreement_number }}</td>
				<td>{{ rental_agreement.datetime_of_creation.strftime("%d.%m.%Y %H:%M:%S") }}</td>
				<td>{{ rental_agreement.rental_object.address }}</td>
				<td>{{ rental_agreement.tenant.last_name }}
								 {{ rental_agreement.tenant.first_name }}
				</td>
<!-- 				<td>{{ rental_agreement.agent.last_name }}
					{{ rental_agreement.agent.first_name }}
				</td> -->
				<td>{{ rental_agreement.status }}</td>
				

					<td><div class='circle'> </div></td>


				<td> 0</td>
				<td>
					<button onclick="document.location='{{url_for('rental_agreement_documents', rental_agreement_id=rental_agreement.id)}}'">Документы</button>
				</td>
				<td></td>
				<td></td>
				<td>
					<form method='POST' action="{{url_for('delete_rental_agreement')}}">
						<input type="hidden" value="{{rental_agreement.id}}" name='rental_agreement_id'/>
						<input type="hidden" value="archive" name='source'/>
						<button class='delete_button'>x</button>
					</form>
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}
