{% extends 'index_landlord.html' %} <!-- Директива extends задает разметку базового шаблона -->

{% block breadcrumbs %} 
Главная: наймодатель -> {{the_title}}
{% endblock %}

{% block main_content %} 
	<!-- мгновенные сообщения -->
	{% for cat, msg in get_flashed_messages(True) %}
	<div class='flash {{cat}}'>{{msg}}</div>
	{% endfor %}
	
	<div class='main_content_header'><h2>{{the_title}}</h2></div>

	<div class='any_rental_objects'>
		<div class='add_rental_object'>
			<button class='add_button' onclick="document.location='{{url_for('add_rental_object')}}'">+ добавить объект аренды</button>
		</div>
		<table>
			<tr><th>Имя</th><th>Тип</th><th colspan='2'>Статус</th><th></th><th></th></tr>
			{% for rental_object in rental_objects %}
				<tr>

					<td>{{rental_object.name}}</td>			
					<td>{{rental_object.type}}</td>
					{% if rental_object.status  == 'свободен'  %}
						<td><div class='circle green'> </div></td>
					{% elif rental_object.status  == 'занят' %}
						<td><div class='circle grey'> </div></td>
					{% elif rental_object.status  == 'не сдается' %}
						<td><div class='circle'> </div></td>
					{% endif %}		
					<td>{{rental_object.status}}</td>				

					<td>

						<button class='add_button' onclick="document.location='{{url_for('edit_rental_object', rental_object_id=rental_object.id)}}'">...</button>

					</td>
					<td>
						<form method='POST' action='/delete_rental_object'>
							<input type="hidden" value="{{rental_object.id}}" name='rental_object_id'/>
							<button class='delete_button'>x</button>
						</form>
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}
