{% extends 'index_landlord.html' %} <!-- Директива extends задает разметку базового шаблона -->

{% block breadcrumbs %} 
Главная: наймодатель -> Договоры -> Договор №{{rental_agreement.agreement_number}}
{% endblock %}

{% block main_content %} 

<!-- мгновенные сообщения -->
{% for cat, msg in get_flashed_messages(True) %}
<div class='flash {{cat}}'>{{msg}}</div>
{% endfor %}

<!-- Метки выполнения js -->
<input type="hidden" id='tab_page'/>

<div class='details_area_wrapper'>
	<!-- Tab links -->
	<div class="tab">
	  <button class="tablinks" onclick="openData(event, 'agreement')" id="info_button">Договор</button>
	  <button class="tablinks" onclick="openData(event, 'things')" id="things_button">Опись имущества</button>
	  <button class="tablinks" onclick="openData(event, 'move_in')" id="move_in_button">Акт сдачи-приемки</button>
	  <button class="tablinks" onclick="openData(event, 'move_out')" id="move_out_button">Акт возврата</button>
	  <button class="tablinks" onclick="openData(event, 'termination')" id="termination_button">Соглашение о расторжении</button>
	</div>

	<!-- TAB CONTENT -->
	<!-- agreement -->
	<div id="agreement" class="tabcontent">

		<object data="{{ url_for('static', filename=ra_pdf) }}" type='application/pdf' width="100%" height="750px" ></object>

		<div class='form_wrapper'>
			<input type="hidden" value="info_tab" name='source'/>
			<h4>1</h4>
			<p>Номер: {{ rental_agreement.agreement_number }}</p>
			<p>Текущий статус: {{ rental_agreement.status }}</p>
			<p>Дата заключения: {{ rental_agreement.date_of_conclusion }}</p>
			<p>Адрес объекта аренды: {{ rental_agreement.rental_object.address }}</p>
			<p>Документ-основание для сдачи: {{ rental_agreement.rental_object.title_deed }}</p>

			<h4>Условия договора</h4>
			<p>Вступает в силу с: {{rental_agreement.conditions.start_of_term}}</p>
			<p>Действует до: {{rental_agreement.conditions.end_of_term}}</p>
			<p>Плата за найм: {{ rental_agreement.conditions.rental_rate }}</p>
			<p>Страховая залоговая сумма: {{ rental_agreement.conditions.deposit }}</p>
			<p>День оплаты: {{ rental_agreement.conditions.payment_day}}</p>
			<p>Расходы на содержание:</p>
			<table>
				<tr><th>Платеж</th><th>Плательщик</th></tr>
				{% for cost in rental_agreement.costs %}
				<tr><td>{{ cost.name }}</td><td>{{ cost.payer }}</td><tr>
				{% endfor %}
			</table>
			<p>Неустойка за каждый день просрочки: {{rental_agreement.conditions.late_fee}}, %</p>
			<p>Плата за клининг: {{rental_agreement.conditions.cleaning_cost}} </p>

			<h4>Реквизиты сторон</h4>

			<table>
			<tr><th>НАЙМОДАТЕЛЬ</th><th>НАНИМАТЕЛЬ</th></tr>
			<tr>
				<td>
			<p>{{rental_agreement.lanlord.last_name}}
			   {{rental_agreement.lanlord.first_name}}
			   {{rental_agreement.lanlord.patronymic}}</p>
			<p>Паспорт: серия {{ rental_agreement.lanlord.serie }} №{{ rental_agreement.lanlord.pass_number }}</p>
			<p>Орган выдавший паспорт: {{ rental_agreement.lanlord.authority }}</p>
			<p>Прописан: {{ rental_agreement.lanlord.registration }}</p>
			<p>Телефон для связи {{ rental_agreement.lanlord.phone }}</p>
			<p>Email: {{ rental_agreement.lanlord.email }}</p>
				</td>
				<td>
					<p>{{rental_agreement.tenant.last_name}}
					   {{rental_agreement.tenant.first_name}}
					   {{rental_agreement.tenant.patronymic}}</p>
					<p>Паспорт: серия {{ rental_agreement.tenant.serie }} №{{ rental_agreement.tenant.pass_number }}</p>
					<p>Орган выдавший паспорт: {{ rental_agreement.tenant.authority }}</p>
					<p>Прописан: {{ rental_agreement.tenant.registration }}</p>
					<p>Телефон для связи {{ rental_agreement.tenant.phone }}</p>
					<p>Email: {{ rental_agreement.tenant.email }}</p>
				</td>
			</tr>		
			</table>


			<p>---------------------------------------------------------</p>			
			<p>{{ rental_agreement }}</p>
			<p>{{ rental_agreement.conditions }}</p>
			<p>{{ rental_agreement.rental_object }}</p>
			<p>{{ rental_agreement.costs }}</p>
			<p>{{ rental_agreement.lanlord }}</p>
			<p>{{ rental_agreement.tenant }}</p>
			<p>{{ rental_agreement.agent }}</p>
			<p>---------------------------------------------------------</p>

		</div>
	</div>

	<!-- things -->
	<div id="things" class="tabcontent">
		<object data="{{ url_for('static', filename=things_pdf) }}" type='application/pdf' width="100%" height="750px" ></object>
		<div class='form_wrapper'>
			<input type="hidden" value="things_tab" name='source'/>		
			<table>
				<tr><th>№</th><th>Наименование предмета</th><th>Кол-во, шт.</th><th>Стоимость, руб.</th></tr>
				{% for thing in rental_agreement.things %}
					<tr><td>{{ thing.thing_number }}</td><td>{{ thing.thing_name }}</td><td>{{ thing.amount }}</td><td>{{ thing.cost }}</td></tr>
				{% endfor %}
			</table>

			<p>---------------------------------------------------------</p>			
			<p>{{ rental_agreement.things }}</p>
			<p>---------------------------------------------------------</p>
		</div>
	</div>

	<!-- move_in -->
	<div id="move_in" class="tabcontent">
		<object data="{{ url_for('static', filename=move_in_pdf) }}" type='application/pdf' width="100%" height="750px" ></object>
		<div class='form_wrapper'>
			<input type="hidden" value="move_in_tab" name='source'/>
			<p>Дата подписания Акта сдачи-приемки: {{ rental_agreement.move_in.date_of_conclusion }} </p>
			<p>Количество комплектов ключей: {{ rental_agreement.move_in.number_of_sets_of_keys }}</p>
			<p>Количество ключей в комплекте: {{ rental_agreement.move_in.number_of_keys_in_set }} </p>
			<p>Замечания к ЖП: {{ rental_agreement.move_in.rental_object_comment }} </p>
			<p>Замечания к имуществу в ЖП: {{ rental_agreement.move_in.things_comment }} </p>
			<p>---------------------------------------------------------</p>			
			<p>{{ rental_agreement.move_in }}</p>
			<p>---------------------------------------------------------</p>			
		</div>
	</div>

	<!-- move_out -->
	<div id="move_out" class="tabcontent">
		<object data="{{ url_for('static', filename=move_out_pdf) }}" type='application/pdf' width="100%" height="750px" ></object>
		<div class='form_wrapper'>
			<input type="hidden" value="move_out_tab" name='source'/>		
			{% if rental_agreement.move_out %}
			<p>Дата подписания Акта возврата: {{ rental_agreement.move_out.date_of_conclusion }} </p>
			<p>Количество комплектов ключей: {{ rental_agreement.move_out.number_of_sets_of_keys }}</p>
			<p>Количество ключей в комплекте: {{ rental_agreement.move_out.number_of_keys_in_set }} </p>
			<p>Замечания к ЖП: {{ rental_agreement.move_out.rental_object_comment }} </p>
			<p>Замечания к имуществу в ЖП: {{ rental_agreement.move_out.things_comment }} </p>		
			<p>Оценка ущерба: {{ rental_agreement.move_out.damage_cost }} </p>		
			<p>Нужна ли уборка: {{ rental_agreement.move_out.cleaning }} </p>	
			<p>Задолженность, связанная с выполнением договора: {{ rental_agreement.move_out.rental_agreeement_debts }} </p>	
			<p>Сумма возращаемой страховой залоговой суммы: {{ rental_agreement.move_out.deposit_refund }} </p>	
			<p>Сумма возвращаемой предоплаты: {{ rental_agreement.move_out.prepayment_refund }} </p>	
			{% else %}
			<p>Возврата помещения не производилось</p>
			{% endif %}

			<p>---------------------------------------------------------</p>			
			<p>{{ rental_agreement.move_out }}</p>
			<p>---------------------------------------------------------</p>	
		</div>
	</div>

	<!-- termination -->
	<div id="termination" class="tabcontent">
		<object data="{{ url_for('static', filename=termination_pdf) }}" type='application/pdf' width="100%" height="750px" ></object>
		<div class='form_wrapper'>
			<input type="hidden" value="termination_tab" name='source'/>		
			{% if rental_agreement.termination %}
			<p>Дата заключения соглашения: {{ rental_agreement.termination.date_of_conclusion }}</p>
			<p>Инициатор расторжения: 
			{% if rental_agreement.termination.is_landlord_initiator == 0 %} Наниматель
			{% elif rental_agreement.termination.is_landlord_initiator == 1 %} Наймодатель
			{% endif %}
			</p>
			<p>Дата уведомления инициатором: {{ rental_agreement.termination.notice_date }}</p>
			<p>Дата досрочного расторжения: {{ rental_agreement.termination.end_of_term }}</p>


			{% else %}
			<p>Договор досрочно не расторгался</p>
			{% endif %}

			<p>---------------------------------------------------------</p>			
			<p>{{ rental_agreement.termination }}</p>
			{{ rental_agreement.termination.notice_date }}
			<p>---------------------------------------------------------</p>	
		</div>
	</div>
</div>
{% endblock %}
